.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.caca {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chicos {
    border-radius: 50%;
    height: 180px;
}

#boton {
        background-color: #4ECCA3;
        border: none;
        border-radius: 5%;
        color: white;
        padding: 15px 32px;
        align-self: center;
        margin-top: 250px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }


.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 90%;
    height: 150px;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}